@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');
body{
     margin:0;
     padding:0;
     box-sizing: border-box;
     width: 100%;
     font-family: 'Marvel',sans-serif;
}
/*--------------navbar--------------*/
.bold{
           font-weight: 600;
           font-size: 25px;
           color: aliceblue !important;
           
           
}
li{
    padding:5px;
    color: aliceblue;
}
nav{
    border-radius: 1rem;
}
.nav-link{
    font-size:17px;
    font-weight: 700;
    border: 2px solid transparent;
    color: #00BFFF !important;
    margin-left: 1rem;
    
}
.nav-link:hover{
      background-color: white;
      transition: .1s;
}
/*--------------------section---------------------*/
section{
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    }
#career img{
   border-radius: 20px;
}

h3{
    font-weight: 700;
}
p{
    font-weight:500;
    font-size:18px;
}
#language #paper #idea{
    font-weight: bold;
}