@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
     margin:0;
     padding:0;
     box-sizing: border-box;
     width: 100%;
     font-size: 20px !important;
     font-family: 'Roboto', sans-serif !important;
}
/*--------------navbar--------------*/
.bold{
           font-weight: 600;
           font-size: 1.1em !important;
           color: aliceblue !important;
           
           
}

li{
    padding:5px;
    color: aliceblue;
}
nav{
    border-radius: 1rem;
    font-size: 1.1em !important;
}
.nav-link{
   
    font-weight: 700;
    border: 2px solid transparent;
    color: #00BFFF !important;
    margin-left: 1rem;
    font-size: 20 !important;

    
}
.nav-link:hover{
      background-color: white;
      transition: .1s;
}
/*--------------------section---------------------*/
section{
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;
    }
#career img{
   border-radius: 20px;
}

h3{
    font-weight: 700;
}
p{
    font-weight:500;
    font-size:20px;
}

/*-------------fotter---------------*/
footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px
  }
  
  #scrollToTopBtn {
      margin-top: 1vh;
      margin-bottom: 2vh;
      float: right;
    background-color: black;
    border: none;
    border-radius:2rem;
    color: white;
    cursor: pointer;
    
    line-height: 48px;
    width: 48px;
  }
